/*Congiguração da página de Celulares*/
#div-celular {
    display: flex;
    margin: 0 auto;
    padding: 15px;
    width: 920px;
}
/*Congiguração da área de postagem*/
#postagem-celular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 660px;
    background: white;
    padding: 5px;
}

.post-celular {
    width: 300px;
    height: 150px auto;
    margin-bottom: 10px;
}